a{
  color: Aquamarine;
  font-size: 16px;
}

h1{
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

*{
  background: Black;
  text-align: center;
  font-family: Verdana;
}

h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p{
  font-size: 21px;
  color: Gray;
}

.logo{
  width: 50%;
}

footer{
  text-align: right;
  color: gray;
}
